/* =============== 푸터 CSS =============== */

footer {
    height: 200px;
    flex-shrink: 0;  /* 푸터 크기 고정 */
    background-color: #1a202d; /* 예시 */
    color: #a8a9ac;
}
footer > div { width:100%; }
/* terms 부분 */
footer > div:nth-child(1){ background:#202839;}
/* 맨 아래 info 부분 */
footer > div:nth-child(2){ 
    height:200px; 
    background:#1a202d;
    display: flex;
    align-items: center;
 }
/* 바 전체 */
footer .terms {
  width: 1200px;   /* 고정 */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* 각 칸: 정확히 240×50, 포지셔닝 기준 제공 */
footer .terms li {
  flex: 0 0 240px;  /* 고정 크기 */
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 박스 전체가 클릭되도록 */
footer .terms li a {
    font-size: 15px;
    color:#fff; 
    text-decoration:none;
    display:flex;
    align-items:center;
    justify-content:center;
<<<<<<< Updated upstream
    width:100%; height:100%;
=======
    width:100%; height:30%;
    
>>>>>>> Stashed changes
}
.terms {
            display: flex; /* 메뉴들을 가로로 나열 */
            justify-content: center; /* 메뉴들을 중앙으로 모음 */
        }
        
        /* ★★★ 원리 1: 마지막 메뉴를 제외한 모든 메뉴의 오른쪽에만 선 추가! ★★★ */
        .terms li:not(:last-child) {
            border-right: 1px solid #626874; 
        }
        
        .terms li a {
            display: block; /* 링크 영역을 li 전체로 확장 */
            padding: 15px 30px; /* 위아래 및 좌우 여백으로 간격 조절 */
            text-align: center; /* 텍스트 가운데 정렬 */
        }
footer .footer-inner {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    align-items: flex-start;  /* 상단 정렬 */
    position: relative;       /* 기준점 */
}
/* 푸터 로고 */
footer .footer-logo {
    flex: 0 0 200px;
    margin-top: 20px;
}
footer .footer-logo img {
    max-width: 100%;
    height: auto;
}
/* 푸터 info */
footer .info p {
    color: #a8a9ac;
    font-size: 12px;
    margin-top: 20px;
    width: 600px;        /* 원하는 고정 폭 지정 */
    flex-shrink: 0;      /* 부모 flex에 의해 줄어들지 않도록 고정 */
}

/* 푸터 오른쪽 검색박스 */
footer .footer-tools{
    position: absolute;    /* footer-inner를 기준으로 위치 고정 */
    top: 35px;             /* 상단에서 35px 떨어짐*/
    left: 1000px;          /* 왼쪽에서 1000px 떨어짐 */
    
}
footer .footer-tools select {
    width: 200px;
    height: 36px;
    background: #131721          /* 배경색 및 화살표 */
                url(../images/bg-related-arr-open.png) 
                no-repeat right 
                10px 
                center;
    color: #a8a9ac;             /* 글자색 (흰색) */
    border: 1px solid #131721;  /* 테두리 (디자인 맞게 수정 가능) */
    border-radius: 4px;           /* 모서리 둥글기 */
    padding: 0 10px;              /* 좌우 여백 */
    font-size: 14px;              /* 글자 크기 */
    appearance: none;             /* 기본 화살표 없애기 (브라우저마다 다름) */
    outline: none;
    cursor: pointer;
}