/* ===== 헤더 ===== */
header > div:nth-child(2) > div > nav .dropdown-content li {
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px solid 3F97F6;
}
header > div:nth-child(2) > div > nav .dropdown-content li:last-child{
    border-bottom: none;
}

header > div:nth-child(2) > div > nav .dropdown{
    position : relative;
    display: inline-block;
}
header > div:nth-child(2) > div > nav .dropdown > ul{
    border: 1px solid #3F97F6;
    height: auto;
}
header > div:nth-child(2) > div > nav .dropdown-content a {
    color: white;
    margin: 0 auto;
    text-align: left;
    font-weight: 400;
}

header > div:nth-child(2) > div > nav .dropbtn{
    cursor : pointer;
}
header > div:nth-child(2) > div > nav .dropdown-content{
    display: none;
    flex-direction: column;
    position : absolute;
    z-index : 1000;
    width: 150px;
    background-color: #3F97F6;
    margin-top: -25px;
}
header > div:nth-child(2) > div > nav .dropdown-content a:hover{
    color: #93cef8;
}
header > div:nth-child(2) > div > nav .dropdown:hover .dropdown-content {
    display: block;
}

header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    
}

header > div:nth-child(1){
    height: 27px;
    background-color: #3F97F6;
}

header > div:nth-child(2){
    height: 77px;
}

header > div > div{
    width: 1200px;
    height: 77px;
    margin: 0 auto;
}

header > div > div > p{
    float: right;
    margin-top: 2px;
}

header > div > div > p > a{
    color: white;
    margin-left: 10px;
    font-size: 12px;
}

header > div:nth-child(2) img{
    float: left;
    margin-top: 10px;
}

header > div:nth-child(2) > div > nav{
    float: right;
    width: 660px;
    height: 77px;
}

header > div:nth-child(2) > div > nav > ul > li{
    float: right;
    width: 16%;
    height: 100%;
}

header > div:nth-child(2) > div > nav a{
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 77px;
}

/* 상단 유틸 설정 */
.util {
    display: flex;              /* 가로 나열 */
    justify-content: flex-end;  /* 오른쪽 맞춤 */
    align-items: center;
    margin-top: 10px;
}
.util a { color: #fff;}
.util li:not(:last-child)::after {
    content: " │ ";               /* 구분자 */
    color: #fff;

}

