html { font-size: 12xp;}
body { font-family: 'Noto Sans Kr', sans-serif;}

/* 리스트 스타일 */
    ul,ol{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    /* a태그 스타일 */
    a{
        text-decoration: none; color: black;
    }

    /* container 레이아웃 */
    #container{
        width: 1200px;
        height: 600px;
        margin-top: 146px;
        margin-left: 360px;
        /* box-sizing: border-box; */
    }

    /* sidebar 레이아웃 */
    .sidebar{
        float: inline-start;
        width: 210px;
        height: 418px;
    }

    /* board 레이아웃 */
    .board{
        display: flex;
        width: 990px;
        height: 500px;
        margin-left: 210px;
    }

    /* sidebar 윗부분 레이아웃 */
    .sidebarHeader{
        width: 210px;
        height: 54px;
        padding-top: 62px;

    }
    
    /* sidevar 제목 서식 */
    .sbTitle{
        width: 128.4px;
        height: 36px;
        margin-top: -1px;
        font: 700 32px bold;
    }

    /* sidebar 메뉴 서식 */
    .sidebarMenu{
        width: 210px;
        height: 302px;
        border-top: 2px solid black;
    }

    /* sidebar item 서식 */
    .item{
        position: relative;
        width: 210px;
        height: 60px;
        padding-top: 2px;
        border-bottom: 1px solid #dcdcdc;
        box-sizing: border-box;
        flex-direction: column;
        transform: rotate(0deg);
        opacity: 1;
        display: flex;
        
    }
    /* item 텍스트 서식 */
    .itemText{
        width: auto;
        height: 18px;
        margin-top: 18px;
        margin-left: 20px;
        font-family: "Noto Sans KR";
        font: 350 16px light;
        text-align: left;
        line-height: 21px;
        color: #333333;
    }
 
    /* item 영역 hover 할 때 색 변경(배경+글자) */
    .item:hover a {
    color: #FFFFFF;
    }

    .item:hover {
        background-color: #3F97F6;
        border-color: #3F97F6;
    }

    /* list 서식 */
    .list {
        width: 210px;
        height: 302px;
        transform: rotate(0deg);
        opacity: 1;
        list-style: none;

        }
    
    /* board 윗부분 레이아웃 */
    .boardUpper{
        width: 930px;
        height: 56px;
        margin-top: 62px;
        margin-left: 60px;
        border-bottom: 2px solid black;
        box-sizing: border-box;

    }

    /* board 제목 서식 */
    .buText{
        width: 104.36px;
        height: 30px;
        margin-top: 7px;
        font-family: "Noto Sans KR";
        font: 700 26px bold;
        line-height: 44px;
        text-align: center;
    }

    /* board 본문 레이아웃 */
    .boardLower{
        width: 930px;
        height: 19px;

    }
    
    /* board 본문 서식 */
    .blText{
        width: 125.33px;
        height: 18px;
        font-family: "Noto Sans KR";
        font: 350 16px light;
        line-height: 100%;
        text-align: center;
    }

/* 게시판 공통 */
.searchingField{
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: flex-end;
}

.searchingField select{
    width: 150px;
    height: 40px;
    padding: 6px;
    margin-right: 5.6px;
    border: 1px solid #ccc;
}
.searchingField input{
    width: 237px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.searchingField button{
    width: 70px;
    height: 40px;
    padding: 6px 12px;
    background-color: #3F97F6;
    color: #fff;
    border: none;
    cursor: pointer;
}

table{
    width: 100%;
    height: 237px;
    margin-top: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 2px solid #000;
}

thead{
    height: 61px;
    background-color: #fafafa;
    border-bottom: 1px solid #a3a3a3;
}
tbody td {
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    text-align: center;  
    font-size: 14px;
}

.page{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 30px;      
    gap:24px;               
}

.page > .prev,
.page > .pagenumber,
.page > .last{
    display:flex;
    align-items:center;
    gap:4px;               
}


.page .pagenumber a{
    display:inline-flex;              
    justify-content:center;
    align-items:center;
    width:32px;
    height:29px;
    border:1px solid #dcdcdc;
    background:#fff;
    color:#333;
    text-decoration:none;
    box-sizing:border-box;
    line-height:1;  
    font-weight: 350;
    font-size: 15px;
}


.page .pagenumber a.active{
    background:#3F97F6;
    border-color:#3F97F6;
    color:#fff;
}

.page .prev a,
.page .last a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:32px;
    height:32px;
    border:1px solid #dcdcdc;
    background:#fff;
    box-sizing:border-box;
}
.page a.paging img{
    display:block;
    max-width:18px;  
    max-height:18px;
}

/* .pagenumber:nth-child(3){
    background: #3f97f6;
    color: #fff;
    font-weight: bold;
} */

.ask{
    width: 110px;
    height: 42px;
    margin-left: 820px;
    font-weight: 350;
    font-size: 16px;
    background-color: #3F97F6;
    color: #fff;
    border: 1px solid #3F97F6;
    border: none;
    cursor: pointer;
}

/* consult */


.consult-board thead th:nth-child(1) { width: 10%; }  
.consult-board thead th:nth-child(2) { width: 15%; }  
.consult-board thead th:nth-child(3) { width: 40%; }  
.consult-board thead th:nth-child(4) { width: 10%; }  
.consult-board thead th:nth-child(5) { width: 10%; } 
.consult-board thead th:nth-child(6) { width: 15%; } 


.consult-board tbody td:nth-child(3){
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  padding-left: 0;         
}

.consult-board tbody tr:nth-child(-n+3) td:nth-child(3) {
    background: url(../../images/ico-lock.png) no-repeat left center;
    padding-left: 22px;
}
.consult-board tbody .undone {
    color:#ff0000 ;
}

.consult-board tbody .done {
    color: #008000;
}

/* notice */
.notice-board{
  width: 100%;
  table-layout: fixed;
}

.notice-board thead th:nth-child(1) { width: 8.6%; }  
.notice-board thead th:nth-child(2) { width: 52.7%; }  
.notice-board thead th:nth-child(3) { width: 18.2%; }  
.notice-board thead th:nth-child(4) { width: 13%; }  
.notice-board thead th:nth-child(5) { width: 7.5%; }  

.notice-board tbody td:nth-child(2){
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  padding-left: 0;         
}

.notice-board tbody tr:nth-child(-n+2) td:nth-child(2) {
    background: url(../../images/ico-new01.gif) no-repeat left center;
    padding-left: 22px;
}




